.chat-dialog-page .card{
    border-radius: 16px;
    position: relative;
    max-width: 450px;
    margin: 0 auto; 
}
.chat-dialog-page .bot{
    position: absolute;
    max-width: 260px;
    align-items: center;
    align-self: center;
    top: 28%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.chat-dialog-page .card-body{
    height: 500px;
    overflow-y: auto;
    position: relative;
} 
.chat-dialog-page .form-control{
    font-size: 15px;
    border-radius: 50px !important;    
    max-width: 315px;
}
.chat-dialog-page .btn-send{
    margin: 0 15px;
    border-radius: 50px !important;
    border: none;
    padding: 0 2px 0 4px;
    font-size: 34px;
    line-height: 0;
    background-color: #00bcd4;
    color: #fff;
    transition: .3s;
}
.chat-dialog-page .btn-mike{
    font-size: 23px;
    padding: 5px 8px 5px 8px;
    background-color: #41e291;
    margin-right: 0;   
} 
.chat-dialog-page .btn-send:hover{
    background-color: #363636;
}

.chat-dialog-page .message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 13px 20px 15px 20px;
    position: relative;
    font-weight: bold;
    font-size: 13px;
}
.chat-dialog-page .message.to {
    background-color: #00BCD4;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.chat-dialog-page .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}

.chat-dialog-page .techused{
    font-size: 14px;
}
.chat-dialog-page .techused img{
    max-width: 100px;
}
.chat-dialog-page .techused img.angular{
    max-width: 23px;
    margin-left: 10px;
}
.chat-dialog-page .integrated{
    font-size: 14px;
    text-align: right;
}
.chat-dialog-page .integrated a{
    color: #000;
    display: inline-block;
}
.chat-dialog-page .integrated img{
    max-width: 24px;
}

.chat-dialog-page .mic-icon-animation{
    background-color: #41e291 !important;
    animation: shadow-expansion .9s ease-in-out infinite alternate;
}

@keyframes shadow-expansion{
    from{
      box-shadow: 0 0 0 5px #41e291;
    }
    to{
      box-shadow: 0 0 0 0 #41e291;
    }
  }